html {
    background-color: rgb(47, 47, 47);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 3vh;
    margin: 0;
    padding: 20px;
    background-color: #00000000;
    color: white;
}

.container {
    max-width: 800px;
    margin: auto;
    background: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

form input {
    background-color: black;
    color: white;
}

input, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #409db6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #61ddffc5;
}

#borrarTodo {
    background-color: #d9534f;
    margin-bottom: 20px;
}

#borrarTodo:hover {
    background-color: #c9302c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    /* font-size: 1.2vh; */
}

th, td {
    border: 1px solid #ddd;
    padding: 1vh;
    text-align: left;
}

th {
    background-color: #f2f2f200;
    
    /* writing-mode: vertical-lr;
    text-orientation: upright; */
}

#totalCosteEnvio {
    margin-top: 20px;
    font-weight: bold;
    text-align: right;
}

.borrar-fila {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.borrar-fila:hover {
    background-color: #c9302c;
}

.borrar-semana {
    background-color: #d9534f;
}

.borrar-semana:hover {
    background-color: #c9302c;
}

.borrar-dia {
    background-color: #d9534f;
}

.borrar-dia:hover {
    background-color: #c9302c;
}

@media (max-width: 520px) {

    body {
        font-size: 4.4vw;
        padding: 1vw;
    }

    .container {
        padding: 1vw;
    }

    th, td {
        padding: 0.2vh;
        /* writing-mode: horizontal-tb;
        text-orientation: upright; */
    }

    .borrar-fila {
        padding: 1vh 1vw;
        font-size: 4vw;
    }
}